.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.home-screen {
  height: 100%;
  width: 100%;}

.counter-text {
  padding-left: 20px;
  padding-right: 20px;
}

.counter-value {
  display: flex;
  justify-content: center;
}

.counter-component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: larger;
  background-color: #d9d9d9d9;
  height: 50%;
}